html,body,#main {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

* {
    box-sizing: border-box;
    font-smooth: initial;
}

h1,h2,h3,h4,h5,h6,p,figure {
    margin: 0
}

a {
    text-decoration: none;
}

body,input,textarea,select,button {
    font-size: 12px;
    font-family: sans-serif
}

#__framer-badge-container {
    position: fixed;
    bottom: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: right;
    pointer-events: none;
    z-index: 314159
}

.__framer-badge {
    pointer-events: auto
}

.visible_construction {
    align-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1857px;
}

.navig__container {
    flex: none;
    height: auto;
    position: relative;
    width: 100%;
}

.visible_construction .navig__container {
    flex: none;
    height: auto;
    position: relative;
    width: 100%;
}

.navig_construction {
    background-color: rgb(0, 0, 0);
    width: 100%;
    opacity: 1;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 60px;
    height: 64px;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.navig__logo {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 10px 0 10px 40px;
    position: relative;
    width: min-content;
}

.navig_logo_p {
    flex: none;
    position: relative;
}

.navig_logo_pp {
    color: #fff;
    font-size: 24px;
    font-family: "Gill Sans", sans-serif;
}

.navig__nav {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: min-content;
}

.navig__auth {
    position: absolute;
    right: 40px;
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: right;
    overflow: visible;
    padding: 0;
    width: min-content;
}

.navig__nav_button {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: rgb(255, 255, 255);
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
}


.navig__nav_p {
    font-family: "Inter-Medium", "Inter", "Inter Placeholder", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 2em;
    text-align: center;
    color:rgb(255, 255, 255);
}

header {
    align-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: 600px;
    justify-content: center;
    overflow: hidden;
    padding: 40px;
    position: relative;
    width: 1200px;
}

.header__title {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    flex: none;
    height: auto;
    max-width: 100%;
    position: relative;
    white-space: pre-wrap;
    width: auto;
    word-break: break-word;
    word-wrap: break-word;
}

.header__title h1 {
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -2.6px;
    text-align: center;
    color: rgb(51, 51, 51);
    
}

.header__description {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    flex: none;
    height: auto;
    max-width: 100%;
    overflow: visible;
    position: relative;
    width: 390px;
    word-break: break-word;
    word-wrap: break-word;
}

.header__description h2 {
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.5em;
    text-align: center;
    color: rgb(136, 136, 136);
}

.header__batton__container {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: min-content;
}

.header__batton__kurs {
    align-content: center;
    align-items: center;
    background-color: #222;
    border-radius: 8px;
    /* box-shadow: 0 0.7065919983928324px 0.7065919983928324px -0.625px #00000026, 0 1.8065619053231785px 1.8065619053231785px -1.25px #00000025, 0 3.6217592146567767px 3.6217592146567767px -1.875px #00000023, 0 6.8655999097303715px 6.8655999097303715px -2.5px #00000020, 0 13.646761411524492px 13.646761411524492px -3.125px #0000001b, 0 30px 30px -3.75px #0000000d; */
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 40px;
    justify-content: center;
    overflow: visible;
    padding: 15px;
    position: relative;
    width: auto;
}

.header__batton__kurs:hover {
    transition: 0.333s;
    box-shadow: inset 0px 0px 17px 0px #c8baba;
}

.kurs_p {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.kurs_p p {
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 255, 255);
}

.header__batton__about_us {
    align-content: center;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 8px;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 40px;
    justify-content: center;
    overflow: visible;
    padding: 15px;
    position: relative;
    width: auto;
}

.header__batton__about_us:hover {
    transition: 0.333s;
    box-shadow: inset 0px 0px 17px 0px #c8baba;
}

.about_us_p {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.about_us_p p {
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: rgb(0, 0, 0);
}

.about_us__container {
    align-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 100px;
    position: relative;
    width: 1200px;
}

.ahah {
    display: grid;
    flex: none;
    grid-auto-rows: min-content;
    grid-template-columns: 420px 2fr;
    grid-template-rows: repeat(1, min-content);
}

.about_us_cont_img {
    aspect-ratio: 1.3333333333333333 / 1;
    border-top-left-radius: 20px;
    flex: none;
    height: 320px;
    overflow: hidden;
    position: relative;
    width: 320px;
    will-change: var(--framer-will-change-override, transform);
    box-shadow: 7px 8px 13px 2px #c8baba;
}

.about_us_img {
    width: 320px;
    height: 320px;
}

.about_us__grid {
    display: grid;
    flex: none;
    gap: 60px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(2, min-content);
    height: min-content;
    justify-content: center;
    max-width: 1000px;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}

.about_us__card1 {
    align-content: center;
    align-items: center;
    align-self: start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    height: auto;
    justify-content: center;
    justify-self: start;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}

.about_us__card_ots {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    height: auto;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 100%;
}

.card_title {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.card_title h2 {
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.8px;
    line-height: 1.5em;
    text-align: left;
    color: rgb(51, 51, 51);
}

.card_description {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.card_description h3 {
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.4em;
    text-align: left;
    color: var(--token-1021654d-251a-4750-952b-de3f7005260e, rgb(136, 136, 136));
}

.course__container {
    align-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 60px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 100px 40px;
    position: relative;
    width: 100%;
}

.course__allcard {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    max-width: 100%;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 1000px;
}

.course__card1, .course__card2, .course__card3 {
    align-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0.7961918735236395px 2.3885756205709185px -0.625px #0000000d, 0 2.414506143104518px 7.2435184293135535px -1.25px #0000000d, 0 6.382653521484461px 19.147960564453385px -1.875px #0000000d, 0 20px 60px -2.5px #0000000d;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    min-width: 100px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 320px;
    will-change: var(--framer-will-change-override, transform);
}

.course__card1:hover, .course__card2:hover, .course__card3:hover {
    transition: 0.333s;
    box-shadow: 7px 8px 13px 2px #c8baba;
}

.course__card_img {
    aspect-ratio: 1.3333333333333333 / 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex: none;
    height: var(--framer-aspect-ratio-supported, 240px);
    overflow: hidden;
    position: relative;
    width: 100%;
    will-change: var(--framer-will-change-override, transform);
}

.course__card_img_top {
    position: absolute;
    border-radius: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 16px 16px;
    background-image: repeating-linear-gradient(45deg, rgba(180, 180, 180, 0.8) 0, rgba(180, 180, 180, 0.8) 1px, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.2) 50%);
    border: 1px solid #c4c4c4;
}

.course__card_text {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: auto;
    justify-content: center;
    padding: 30px;
    position: relative;
    width: 100%;
}

.course_card_title {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.course_card_title h3 {
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 1.4em;
    text-align: left;
    color: rgb(0, 17, 34);
}

.course_card_description {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.course_card_description p {
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-weight: 500;
    line-height: 1.6em;
    text-align: left;
    color: rgb(102, 102, 102);
    font-size: calc(var(--framer-font-size, 16px)* var(--framer-font-size-scale, 1));
}

.boundary_end {
    background-color: hsl(0, 0%, 88%);
    height: 2px;
    max-width: 30px;
    margin: 15px auto 20px;
}

footer p {
    color: hsl(0, 0%, 63%);
}

img {
    width: 320px;
    height: 240px;
}

.aboutus__title {
    padding-top: 20px;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -2.6px;
    text-align: center;
    color: rgb(51, 51, 51);
    
}

.aboutus__description {
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.5em;
    text-align: center;
    color: rgb(136, 136, 136);
    padding: 10px;
    line-height: 1.4;
}